body {
  margin:0;
  padding:0;
}
.header{
  background-color: rgb(26, 28, 27);
  color:white;
  text-align:center;
  padding: 10px
  /* margin: 33px; */
}

ul{
  display:flex;
  float:right;
}
li{
  list-style-type:none;
  /* remove the list dot '.' property */

  padding: 10px 14px;
}